<div class="container">
    <div class="row">
        <div class="col float-right">
            <a class="btn btn-primary post_button" href="/newpost">Create New Post</a>
        </div>
    </div>

</div>

<div id="posts" class="container">
    {{#each posts}}
    {{property}}
    <div class="post" data-id="{{id}}">
        <div class="post_header">
            <div class="row">
                <div class="col">
                    <h3>{{title}}</h3>
                </div>
                <div class="col post_details">
                    Posted By: {{User.email}} on {{{postdate}}}
                </div>
            </div>
        </div>
        <div class="post_content">
            {{{content}}}
        </div>
    </div>
    {{/each}}
</div>